Flask>=3.0                  # Web 框架
Flask-SQLAlchemy>=3.1      # ORM
Flask-Migrate>=4.0         # 資料庫遷移
psycopg2-binary>=2.9       # PostgreSQL 連線套件

pandas>=2.2                # 資料處理
openpyxl>=3.1              # 讀寫 Excel
xlsxwriter>=3.1            # 輸出 Excel

gunicorn>=21.2             # 生產用 WSGI Server
